.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* spreads logo left, nav right */
  padding: 10px 20px;
  background: #ffffff; /* light background */

}
.nav-buttons{
  
    display: flex;
    gap: 15px; /* space between buttons */
}