.Total_Main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 80%;
    color: white;
    gap: 10px;
    border-radius: 20px;
    &:hover {
        background-color: #063f1f;
    }
}
.Total_Main p{
    font-size: 15px;
}